<ion-card [ngClass]="{true: 'table-active', false: 'table-inactive'}[hasTurn]" (click)="toggleTurn($event)">
  <ion-card-title no-margin class="scoretable-playername"
                  [ngClass]="{true: 'title-winner', false: 'title-loser'}[hasWon]">
    {{ player }}
  </ion-card-title>

  <ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col width-15>
          <b>#</b>
        </ion-col>
        <ion-col width-25 text-center>
          <b>Run</b>
        </ion-col>
        <ion-col width-25 text-center>
          <b>Foul</b>
        </ion-col>
        <ion-col width-25 text-right>
          <b>Σ</b>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>

  <ion-card-content>
    <ion-grid>
      <ion-row *ngFor="let inning of innings">
        <ion-col width-15>
          <p>{{ inning.inning }}</p>
        </ion-col>
        <ion-col width-25 text-right text-nowrap>
          <p>{{ inning.run }}</p>
        </ion-col>
        <ion-col width-25 text-center>
          <ion-badge *ngIf="inning.foul" color="dark">1</ion-badge>
        </ion-col>
        <ion-col width-25 text-right text-nowrap>
          <b>{{ inning.score }}</b>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
