<ion-header>
  <ion-navbar>
    <ion-title>UPDATE SCORE</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <p text-center class="blue-bold-center">{{ player.name }}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Number of balls left on table:
        <p text-center class="blue-bold-center">{{ balls }}</p>
      </ion-label>
      <ion-range min="2" max={{max}} step="1" [(ngModel)]="balls" color="primary">
        <ion-icon range-left color="dark" name="remove-circle" (click)="updateBalls('less')"></ion-icon>
        <ion-icon range-right color="dark" name="add-circle" (click)="updateBalls('more')"></ion-icon>
      </ion-range>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col width-50>
            <button ion-button block [outline]="foul" (click)="inningEndedInFoul(false)">
              No Foul
            </button>
          </ion-col>
          <ion-col width-50>
            <button ion-button blSck [outline]="!foul" (click)="inningEndedInFoul(true)">
              Ended in a Foul
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button full (click)="submit()">
      <ion-icon margin-right name="checkmark-circle"></ion-icon>
      Submit this Score
    </button>
  </ion-toolbar>
</ion-footer>
