<ion-header>
  <ion-navbar>
    <ion-title>UPDATE SCORE FOR {{ player.name }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Number of balls left on table:
        <p text-center class="balls">{{ balls }}</p>
      </ion-label>
      <ion-range min="2" max={{max}} step="1" [(ngModel)]="balls" color="primary">
        <ion-icon range-left color="dark" name="remove-circle"></ion-icon>
        <ion-icon range-right color="dark" name="add-circle"></ion-icon>
      </ion-range>
    </ion-item>

    <ion-item>
      <!--<ion-label>Inning ended in Foul</ion-label>-->
      <!--<ion-toggle color="danger" checked="false" [(ngModel)]="foul"></ion-toggle>-->
      <ion-grid no-padding>
        <ion-row>
          <ion-col width-50>
            <button ion-button block [outline]="foul" (click)="inningEndedInFoul(false)">
              No Foul
            </button>
          </ion-col>
          <ion-col width-50>
            <button ion-button block [outline]="!foul" (click)="inningEndedInFoul(true)">
              Inning ended in Foul
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <button ion-button full (click)="submit()">
    <ion-icon margin-right name="checkmark-circle"></ion-icon> submit this score
  </button>
</ion-footer>
