<ion-list>
  <ion-item>
    <ion-label stacked>Player 1</ion-label>
    <ion-input type="text" placeholder="Shane van Boening"
               [ngModel]="playerOne" (ngModelChange)="changeName($event, 1)"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Player 2</ion-label>
    <ion-input type="text" placeholder="Earl Strickland"
               [ngModel]="playerTwo" (ngModelChange)="changeName($event, 2)"></ion-input>
  </ion-item>

  <ion-item>
    <button ion-button large item-left (click)="editTargetscore(-5)">
      <ion-icon name="ios-remove-outline"></ion-icon>
    </button>
    <p text-center class="score">{{targetscore}}</p>
    <button ion-button large item-right (click)="editTargetscore(5)">
      <ion-icon name="ios-add-outline"></ion-icon>
    </button>
  </ion-item>

  <ion-item>
    <button ion-button outline item-left
            [ngClass]="{true: button, false: outline}[playerOneStarts]"
            (click)="selectStartingPlayer(1)">
      <ion-icon name="checkmark-circle" *ngIf="playerOneStarts"></ion-icon> Player 1 starts</button>
    <button ion-button outline item-right
            [ngClass]="{true: 'button', false: 'button-outline'}[!playerOneStarts]"
            (click)="selectStartingPlayer(2)">
      <ion-icon name="checkmark-circle" *ngIf="!playerOneStarts"></ion-icon> Player 2 starts</button>
  </ion-item>
</ion-list>
