.score-container {
  text-align: right;
  padding: 10px 20px;
}

.col-active {
  border: 3px solid #387ef5;
}

.col-inactive {
  border: none;
}

.score-winner {
  background-color: red;
}

.score-loser {
  background-color: transparent;
}

.possible-run {
  margin: 0 auto;
}

.number {
  font-size: xx-large;
  color: #387ef5;
}
