.score-container {
  text-align: right;
  padding: 10px 20px;
}

.score-winner {
  background-color: red;
}

.score-loser {
  background-color: transparent;
}

.possible-run {
  margin: 0 auto;
}

.title {
  padding-right: 10px;
}

.number {
  font-size: xx-large;
  color: #387ef5;
}
