<ion-header>
  <ion-navbar>
    <ion-title>GAME TO {{ targetscore }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-fab edge right top>
    <button ion-fab mini color="dark"><ion-icon name="arrow-dropdown"></ion-icon></button>
    <ion-fab-list side="down">
      <button ion-fab color="primary" (click)="gotoSetup()">Setup</button>
      <button ion-fab color="danger" (click)="showCorrectionModel()">UNDO</button>
    </ion-fab-list>
  </ion-fab>

  <ion-grid margin-top>
    <ion-row>
      <ion-col width-50>
        <score-table [player]="playerOne.name" [hasTurn]="playerOne.hasTurn" [hasWon]="playerOne.hasWon"
                     [innings]="playerOne.innings" (onTableClicked)="togglePlayerTurn($event)"></score-table>
      </ion-col>

      <ion-col width-50>
        <score-table [player]="playerTwo.name" [hasTurn]="playerTwo.hasTurn" [hasWon]="playerTwo.hasWon"
                     [innings]="playerTwo.innings" (onTableClicked)="togglePlayerTurn($event)"></score-table>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--{{ game | async | json }}-->
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col width-50 no-padding (click)="togglePlayerTurn(playerOne.hasTurn)"
               [ngClass]="{true: 'score-winner', false: 'score-loser'}[playerOne.hasWon]">
        <ion-card class="score-container"
                  [ngClass]="{true: 'col-active', false: 'col-inactive'}[playerOne.hasTurn]">
          <ion-badge margin-right color="dark" *ngIf="playerOne.consecutiveFouls > 0">
            {{playerOne.consecutiveFouls}}
          </ion-badge>
          <b class="number">{{ getCurrentScore('One') }}</b>
        </ion-card>
      </ion-col>
      <ion-col width-50 no-padding (click)="togglePlayerTurn(playerTwo.hasTurn)"
               [ngClass]="{true: 'score-winner', false: 'score-loser'}[playerTwo.hasWon]">
        <ion-card class="score-container"
                  [ngClass]="{true: 'col-active', false: 'col-inactive'}[playerTwo.hasTurn]">
          <ion-badge margin-right color="dark" *ngIf="playerTwo.consecutiveFouls > 0">
            {{playerTwo.consecutiveFouls}}
          </ion-badge>
          <b class="number">{{ getCurrentScore('Two') }}</b>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <div class="possible-run">
        <b class="title">Possible Run:</b>
        <b class="number">{{ possibleRun }}</b>
      </div>
    </ion-row>
  </ion-grid>

  <ion-toolbar>
    <ion-grid *ngIf="!playerOne.hasWon && !playerTwo.hasWon">
      <ion-row>
        <ion-col width-50>
          <button ion-button block outline icon-left color="primary" (click)="rerack()">
            <ion-icon name="refresh"></ion-icon>RERACK</button>
        </ion-col>
        <ion-col width-50>
          <button ion-button block (click)="updateScore()">UPDATE</button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div *ngIf="playerOne.hasWon || playerTwo.hasWon">
      <button ion-button block icon-left color="primary" (click)="gotoSetup()">
        <ion-icon name="backspace"></ion-icon>FINISH GAME
      </button>
    </div>
  </ion-toolbar>
</ion-footer>
